<div class="content-view">
  <h1>Modify Task List</h1>

  <%= form_tag(task_lists_path, method: :put) do %>
    <%= hidden_field_tag 'task_list_id', @task_list.id %>
    <%= label_tag(:name, "Name:") %>
    <%= text_field_tag (:name), @task_list.name %>
    <%= label_tag(:location, "Location:") %>
    <%= text_field_tag (:location), @task_list.location %>
    <%= label_tag(:note, "Note:") %>
    <%= text_field_tag (:note), @task_list.note %>
    <%= submit_tag("Update", class: "btn") %>
  <% end %>
</div>
