<div class="content-view">
  <h1> <%= @task_list.name %> </h1>

  <h3> Location: <%= @task_list.location %> </h3>
  <h3> Note: <%= @task_list.note %> </h3>
  <h3>Tasks:</h3>
  <table>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Deadline</th>
      <th>Note</th>
      <th>Duration</th>
      <th></th>
      <th></th>
    </tr>
    <% @tasks.each do |t_id| %>
      <% t = Task.find_by_id(t_id) %>
      <tr>
        <td> <%= t.name %> </td>
        <td> <%= t.location %> </td>
        <td> <%= t.deadline %> </td>
        <td> <%= t.note %> </td>
        <td>
          <% if t.duration >= 60 %>
            <%= t.duration.div(60) %> <%= (t.duration.div(60) > 1) ? "hrs" : "hr" %>
          <% end %>
          <%= t.duration % 60 %> <%= (t.duration % 60 > 1) ? "mins" : "min" %>
        </td>
        <td>
          <% if t.scheduled_event %>
            Scheduled Event
          <% end %>
        </td>
        <td> <%= button_to "Remove", remove_task_task_lists_path(task_list_id: @task_list.id, task_id: t_id), class: "btn" %> </td>
      </tr>
    <% end %>

  </table>
  <br>
  <span>Add task</span>
  <%= form_tag(add_task_task_lists_path, method: :post) do %>
    <%= hidden_field_tag 'task_list_id', @task_list.id %>
    <div class="row">
      <div class="col s6">
        <%= select_tag 'task_id', options_for_select(@all_tasks.collect{ |t| [t.name, t.id] }), include_blank: true, class: 'browser-default' %>
      </div>
      <div class="col s1">
        <%= submit_tag("Add", class: "btn") %>
      </div>
    </div>
  <% end %>
</div>
